main{
	position:relative;
}
main>section{
	width:324px;
	height:581px;

	position: absolute;
	top:-183px;
	left:311px;
	float: left;
}


main  .af_l{
	width:311px;
	height:279px;
/*	border:1px solid white;*/
	
	margin:0 10px 20px 0;
}


main .af_l .in{
	display:block;
	width:310px;
	height:186px;
	position: absolute;
	top:0%;
	left:0%;
	
	z-index:10;	
}
main .af_l .star{
	width:310px;
	height:186px;
	background: url(../image/未标题-1.png);
	position: relative;
}
main  .af_l .star2{
	width:310px;
	height:93px;
	background: url(../image/未标题-2.png);
	position: relative;
}
main .af_l .star2 .l1{
	display: block;
	position:absolute;
	top:34px;
	left:63px;
	color:#b5bebe;
}
main  .af_l .star2 .l1:hover{
	border-bottom:1px solid #b5bebe;
}
main .af_l .star2 .l2{
	display: block;
	position:absolute;
	top:34px;
	left:221px;
	color:#b5bebe;
}
main .af_l .star2 .l2:hover{
	border-bottom:1px solid #b5bebe;
}
.af_r{
	width:311px;
	height:281px;
	/*border:1px solid red;*/
	
	background:url(../image/1.png);
}
.af_r .top{
	width:193px;
	height:48px;
/*	border:1px solid white;*/
	position:relative;
	top:40px;
	left:19px;
}
.af_r .top>a>span{
	display:block;
	color:#b1b1b1;
}
.af_r .top>a>i{
	display:block;
	width:62px;
	background: #26273d;
	color:#807fa6;
}
.af_r .top>a>span:hover{
	color:#dbdbdb;
}
.af_r .top>a>i:hover{
	color:#dbdbdb
}
.af_r .mid{
	width:193px;
	height:48px;
/*	border:1px solid white;*/
	position:relative;
	top:85px;
	left:23px;
}
.af_r .mid>a>span{
	display:block;
	color:#b1b1b1;
}
.af_r .mid>a>i{
	display:block;
	width:62px;
	background: #26273d;
	color:#807fa6;
}
.af_r .mid>a>span:hover{
	color:#dbdbdb;
}
.af_r .mid>a>i:hover{
	color:#dbdbdb
}
.af_r .bottom{
	width:193px;
	height:48px;
/*	border:1px solid white;*/
	position:relative;
	top:135px;
	left:19px;
}
.af_r .bottom>a>span{
	display:block;
	color:#b1b1b1;
}
.af_r .bottom>a>i{
	display:block;
	width:62px;
	background: #26273d;
	color:#807fa6;
}
.af_r .bottom>a>span:hover{
	color:#dbdbdb;
}
.af_r .bottom>a>i:hover{
	color:#dbdbdb
}
/*===========================右边star==========================================*/

main .main_right{
	width:965px;
	height:700px;
	/*border:1px solid white;*/
	position:absolute;
	top:-17%;
	left:34%;
}
main .main_right>section{
	width:945px;
	height:34px;
	background: #2e3049;
	padding-left:20px;
	padding-top:10px;
	position: relative;
	
}
main .main_right>section>span{
	color:#a5b1b1;
	font-weight:bold;
	
}


main .main_right>section>i{
	color:#5685b2;
	font-size:12px;
}
main .main_right>nav{
	width:965px;
	height:83px;
	border-bottom:1px solid #333652;
	background: #3c3f5a;
	float: left;
	

}
main .main_right>nav>ul{
	width:500px;
	height:40px;
	margin:40px auto 0px;
	/*border:1px solid white;*/

}

main .main_right>nav>ul>li{
	width:82px;
	height:40px;
	float: left;
	font-size:16px;
	margin:0 25px 0 0;
	text-align:center;
	line-height:60px;
	
	
}
main .main_right>nav>ul>li>a{
		color:#b1b1b1;	


}
main .main_right>nav>ul>li>a:hover{
	color:#449ac9;
	border-bottom:1px solid #449ac9;
}
main .main_right>nav>ul>li:hover{
	border-bottom:2px solid #449ac9;
}	
main .main_right>nav>ul>li .new_box{
	width:965px;
	height:700px;
	/*border:1px solid pink;*/
	position: absolute;
	top:129px;
	left:0px;
	background: #3c3f5a;
	
}
main .main_right>nav>ul>li .new_box .nb1{
	width:958px;
	height:700px;
	/*background: pink;*/
	
}
main .main_right>nav>ul>li> .new_box .nb1>span{
	display:block;
	line-height:40px;
	text-align:left;
	width:960px;
	color:#b1b1b1;	
}
main .main_right>nav>ul>li> .new_box .nb1>span>a{
	color:#b1b1b1;	
}
main .main_right>nav>ul>li> .new_box .nb1>span>a>b{
	color:#5a798a;
}

/*main .main_right>nav>ul>li .new_box .nb1>span>a{
	display:block;
	color:white;
	font-size:15px;
	float: left;

}*/
main .main_right>nav>ul>li .new_box .nb1>span>i{
	float: right;
	display:block;
	color:#b1b1b1;
	
}

main .main_right>nav>ul>li:hover>.new_box{
	z-index:10;
}







/*===========================右边end==========================================*/