.gw_footer{padding:30px 0;clear:both;text-align:center;overflow:hidden;margin:0 auto;line-height:20px}
.gw_footer *{margin:0;padding:0}
.gw_footer img{border:none}
.foot_l_p{height:40px}
.foot_r_p{width:621px}
.gw_footer .tn{text-indent:-9999em;overflow:hidden;display:block}
.foot_logo{width:166px;height:31px;margin-right:10px;overflow:hidden}
.foot_logo .glogo{width:166px;height:31px;overflow:hidden;background-repeat:no-repeat;_background:none}
.gw_footer .pal{border-radius:3px;padding:0 5px;float:left;text-align:left;font-family:Tahoma}
.other_logo{overflow:hidden}
.other_logo a,.other_logo span{display:block;margin-right:10px}
.foot_r_p span{display:inline-block;margin:0 5px 0;*margin-bottom:7px;margin-bottom:0\0;width:1px;height:6px;overflow:hidden}
.gw_footer .e{text-align:left;height:19px;overflow:hidden;font-family:Tahoma}
.gw_footer .fl{float:left;font-size:11px;font-size:10px\9;line-height:19px}
.gw_footer .fr{float:right}
.gw_footer .license{padding-left:10px;clear:both;text-align:left;height:25px;line-height:25px}
.glogos{background:url("http://ossweb-img.qq.com/images/js/foot_js/images/foot_logo_s.png") no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://ossweb-img.qq.com/images/js/foot_js/images/foot_logo_s.png")}
.glogoq{background:url("http://ossweb-img.qq.com/images/js/foot_js/images/foot_logo_q.png") no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://ossweb-img.qq.com/images/js/foot_js/images/foot_logo_q.png")}/*  |xGv00|c4dcb4b081d9b6c25ede187cffbb5882 */